*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Roboto, sans-serif;
}

.App {
	/* variables------------------------------------- */
	--white: #fff;
	--black: #000;
	--red: #ff0051;
	--light-purple-lighter: #f4ecff;
	--light-purple: #e4d2ff;
	--light-purple-darker: #caaef2;
	--dark-purple-lighter: #8456ff;
	--dark-purple: #7e24fa;
	--dark-purple-darker: #6624d2;

	text-align: center;
	height: 100vh;

	max-width: 1440px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "login logo";
}


/* media queries iPhoneX -------------------------- */
@media screen and (max-width: 375px) {
	.App {
		grid-template-columns: 1fr;
		grid-template-rows: 2fr 1fr 1fr 1fr;
		grid-template-areas:
			"logo"
			"login"
			"login"
			"login"
	}

	.App .container-log {
		margin-top: -60px;
		width: 50%;
		justify-content: center;
	}

	.App .login {
		align-content: space-between;
	}

	.App .logo-container {
		grid-template-rows: 1fr;
		align-items: center;
		margin-top: -50px;
	}

	.App .login-form {
		border-radius: 5px;
	}

	.App .error-login {
		max-width: 100%;
	}

	/* success login ---------------------------------- */
	.loggedOk {
		grid-template-columns: 1fr;
		grid-template-rows: 1.5fr 3fr;
		background-color: var(--dark-purple);
	}

	.loggedOk .logo-container {
		grid-template-rows: 1fr;
		align-items: center;
		margin-top: 4px;
	}

	.loggedOk .logged-in-container {
		align-items: start;
		grid-row-start: 2;
	}

	.loggedOk .success-log {
		align-self: auto;
	}
}

/* media queries iPhone5 -------------------------- */
@media screen and (max-width: 320px) {
	.App {
		grid-template-columns: 1fr;
		grid-template-rows: 3fr 1fr 1fr 1fr;
		grid-template-areas:
			"logo"
			"login"
			"login"
			"login"
	}

	.App .container-log {
		margin-top: -60px;
		width: 50%;
		justify-content: center;
	}

	.App .login {
		align-content: space-between;
	}

	.App .form-username {
		border-radius: 5px 5px 0 0;
	}

	.App .error-login {
		max-width: 100%;
	}

	.App .form-checkbox:checked::before {
		font-size: 1rem;
		left: 1px;
	}

	.App .form-button {
		border-radius: 0 0 5px 5px;
	}

	/* success login ---------------------------------- */
	.loggedOk {
		grid-template-rows: 0.75fr 2fr;
	}

	.loggedOk .logo-container {
		grid-template-rows: 1fr;
		align-items: end;
	}

	.loggedOk .logged-in-container {
		margin-top: 2rem;
		align-items: center;
		grid-row-start: 2;
	}

	.loggedOk .success-log {
		align-self: start;
	}
}


/* grid areas  ------------------------------------ */
.logo {
	grid-area: logo;
}

.login {
	grid-area: login;
}

.loggedOk {
	grid-area: loggedOk;
}