.login {
  background-color: var(--light-purple-lighter);
  display: grid;
  justify-items: center;
  align-self: stretch;

  font-weight: bold;
}

.login-form {
  margin-top: 10px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  border-radius: 2px;
  width: 50%;
  box-shadow: 0 2px 14px rgba(202, 174, 242, 1);
}

.form-username,
.form-password {
  border: none;
  text-align: center;
  font-size: 1rem;
}

.form-username::placeholder,
.form-password::placeholder {
  color: var(--light-purple-darker);
  font-weight: bold;
}

.form-button {
  background-color: var(--dark-purple);
  border: none;
  padding: 5px;
  color: var(--light-purple-lighter);
  border-radius: 0 0 2px 2px;
  font-size: 1rem;
  font-weight: bold;
}

.checkbox-remember-me {
  font-size: 2rem;
  display: flex;
  align-self: center;
  align-content: baseline;
}


.form-checkbox{
     appearance: none;
     position: relative;
     background-color: var(--light-purple-lighter);
     color: var(--dark-purple);
     height: 0.9rem;
     width: 0.9rem;
     border: 1px solid var(--dark-purple);
     border-radius: 0.2rem;
     cursor: pointer;     
     outline: none;
} 

.form-checkbox:checked::before{
     position: absolute;
     font-size:1.25rem;
     left: 0px;
     top: -6px;
     content: '\25A0';
}
.form-checkbox:hover{
  background-color: var(--light-purple);
}

.form-checkbox:checked{
  background-color: var(--light-purple-lighter);
}

.label-remember-me {
  color: var(--dark-purple);
  padding-left: 1rem;
  font-size: 0.8rem;
}

.alt-login {
  font-size: 0.7rem;
  display: grid;
  grid-template-rows: 1rem 1rem;
  justify-items: center;
  color: var(--dark-purple);
  font-style: italic;
}

.logos img {
  width: 1.2rem;
  border-radius: 50%;
  padding: 5px;
  margin: 7px;
  background-color: var(--light-purple-darker);
}
