.login {
  background-color: var(--light-purple-lighter);
  display: grid;
  justify-items: center;
  /* align-content: space-around; */
  /* align-self: stretch; */
  font-weight: bold;
}

.container-log {
  display: grid;
  grid-template-rows: 1fr;
  /* width: 50%; */
  align-self: end;
  position: relative;
}

.login-form {
  margin-top: -40px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  border-radius: 2px;
  /* width: 50%; */
  box-shadow: 0 2px 14px rgba(202, 174, 242, 1);
}

.form-username {
  border-radius: 2px 2px 0 0;
}

.form-username,
.form-password {
  padding: 1rem;
  border: none;
  text-align: center;
  font-size: 1rem;
  color: var(--dark-purple);
  font-weight: bold;
}

.form-username::placeholder,
.form-password::placeholder {
  color: var(--light-purple-darker);
  font-weight: bold;
}

.error-name,
.error-password {
  box-shadow: inset 0 0 0 3px var(--red);
  color: var(--red);
}

.form-button {
  display: flex;
  justify-content: center;
  background-color: var(--dark-purple);
  border: none;
  padding: 5px;
  color: var(--light-purple-lighter);
  border-radius: 0 0 2px 2px;
  font-size: 1rem;
  font-weight: bold;
}

.spinner {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: var(--light-purple-darker);
  border-right-color: var(--light-purple-darker);
  border-left-color: var(--light-purple-darker);
  animation: spinner infinite 2s linear;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.error-login {
  position: absolute;
  top: 130px;
  color: var(--red);
  font-size: 0.8rem;
  max-width: 70%;
  justify-self: center;
}

.checkbox-remember-me {
  font-size: 2rem;
  display: flex;
  align-self: center;
  align-content: baseline;
}


.form-checkbox {
  appearance: none;
  position: relative;
  background-color: var(--light-purple-lighter);
  color: var(--dark-purple);
  height: 0.8rem;
  width: 0.8rem;
  border: 1px solid var(--dark-purple);
  border-radius: 0.2rem;
  cursor: pointer;
  outline: none;
}

.form-checkbox:checked::before {
  position: absolute;
  font-size: 1.1rem;
  left: 0px;
  top: -4px;
  content: '\25A0';
}

.form-checkbox:hover {
  background-color: var(--light-purple);
}

.form-checkbox:checked {
  background-color: var(--light-purple-lighter);
}

.label-remember-me {
  color: var(--dark-purple);
  padding-left: 1rem;
  font-size: 0.8rem;
}

.alt-login {
  font-size: 0.7rem;
  display: grid;
  /* grid-template-rows: 1rem 1rem; */
  /* justify-items: center; */
  align-content: end;
  color: var(--dark-purple);
  font-style: italic;
  margin-bottom: 1rem;
}

.logos img {
  width: 1.2rem;
  border-radius: 50%;
  padding: 5px;
  margin: 7px;
  background-color: var(--light-purple-darker);
  cursor: pointer;
}