.logo-container {
  display: grid;
  grid-template-rows: 1fr 2fr;
  justify-items: center;
  align-items: end;
  color: var(--white);
  background-color: var(--dark-purple);
}

.company-name {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.container-logo-shadow {
  /* border: 1px solid red; */
  display: grid;
  justify-items: center;
}

.outer-logo {
  /* position: absolute; */
  border: 1px solid transparent;
  border-radius: 6px;
  background-image: linear-gradient(to right top, #6624d2, #824bdb, #9c6de3, #b38deb, #caaef2);
  width: 3.2rem;
  height: 3.2rem;
}

.logo {
  position: relative;
  background: var(--white);
  border-radius: 4px;
  /* background-clip: padding-box; */
  /* align-self: start; */
  padding: 7px;
  top: 1px;
  width: 3rem;
  height: 3rem;
}